@import "../../src/main";

body {
  @extend .font-sans, .line-h-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .line-h-2;
}

a {
  @extend .color-purple-5;
  &:hover {
    @extend .color-purple-7;
  }
}

.active--exact {
  @extend .color-purple-7;
}

button {
  @extend .border-0, .bg-transparent;
}

input.visually-hidden:focus + * {
  outline-width: 1px;
  outline-style: auto;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}

code,
pre {
  @extend .py-1, .px-2, .radius-2, .color-gray-1, .bg-gray-8;
}

.fade-slide-right-enter-active,
.fade-slide-right-leave-active {
  transition: opacity 0.2s;

  .vts-drawer__content {
    transition: opacity 0.3s, transform 0.3s;
  }
}

.fade-slide-right-enter,
.fade-slide-right-leave-to {
  opacity: 0;

  .vts-drawer__content {
    transform: translateX(-100%);
  }
}
