@each $item in (color, color), (bg, background-color), (border, border-color) {
  $prefix: nth($item, 1);
  $rule: nth($item, 2);

  .#{$prefix}-white {
    #{$rule}: $white;
  }
  .#{$prefix}-black {
    #{$rule}: $black;
  }
  .#{$prefix}-transparent {
    #{$rule}: transparent;
  }
}

$lums: 95%, 86%, 76%, 66%, 57%, 48%, 38%, 29%, 20%;
@each $color in $colors {
  @for $i from 1 through length($lums) {
    $name: nth($color, 1);
    $h: nth($color, 2);
    $s: $saturation;
    $l: nth($lums, $i);

    @if length($color) > 2 {
      $s: nth($color, 3);
    }
    @if $name == "gray" {
      $s: 0;
    }

    .color-#{$name}-#{$i} {
      color: hsl($h, $s, $l);
    }

    .bg-#{$name}-#{$i} {
      background-color: hsl($h, $s, $l);
    }

    .border-#{$name}-#{$i} {
      border-color: hsl($h, $s, $l);
    }

    .border-t-#{$name}-#{$i} {
      border-top-color: hsl($h, $s, $l);
    }

    .border-b-#{$name}-#{$i} {
      border-bottom-color: hsl($h, $s, $l);
    }

    .border-l-#{$name}-#{$i} {
      border-left-color: hsl($h, $s, $l);
    }

    .border-r-#{$name}-#{$i} {
      border-right-color: hsl($h, $s, $l);
    }
  }
}
