@each $item in (color, color), (bg, background-color), (border, border-color) {
  $prefix: nth($item, 1);
  $rule: nth($item, 2);

  @include withVariants("#{$prefix}-white") {
    #{$rule}: $white;
  }
  @include withVariants("#{$prefix}-black") {
    #{$rule}: $black;
  }
  @include withVariants("#{$prefix}-transparent") {
    #{$rule}: transparent;
  }
}

$lums: 95%, 86%, 76%, 66%, 57%, 48%, 38%, 29%, 20%;
@each $color in $colors {
  @for $i from 1 through length($lums) {
    $name: nth($color, 1);
    $h: nth($color, 2);
    $s: $saturation;
    $l: nth($lums, $i);

    @if length($color) > 2 {
      $s: nth($color, 3);
    }
    @if $name == "gray" {
      $s: 0;
    }

    @include withVariants("color-#{$name}-#{$i}") {
      color: hsl($h, $s, $l);
    }

    @include withVariants("bg-#{$name}-#{$i}") {
      background-color: hsl($h, $s, $l);
    }

    @include withVariants("border-#{$name}-#{$i} ") {
      border-color: hsl($h, $s, $l);
    }

    @include withVariants("border-t-#{$name}-#{$i} ") {
      border-top-color: hsl($h, $s, $l);
    }

    @include withVariants("border-b-#{$name}-#{$i} ") {
      border-bottom-color: hsl($h, $s, $l);
    }

    @include withVariants("border-l-#{$name}-#{$i} ") {
      border-left-color: hsl($h, $s, $l);
    }

    @include withVariants("border-r-#{$name}-#{$i} ") {
      border-right-color: hsl($h, $s, $l);
    }
  }
}
