$classMap: map-merge(
  $classMap,
  (
    display-none: (
      display: none
    )
  )
);

@each $value in inline, block, inline-block, flex, inline-flex, grid, inline-grid, table, table-row,
  table-cell
{
  $classMap: map-merge(
    $classMap,
    (
      $value: (
        display: $value
      )
    )
  );
}

@for $i from 0 through 10 {
  $value: $i * 0.1;

  $classMap: map-merge(
    $classMap,
    (
      "opacity-#{$i}": (
        opacity: $value
      )
    )
  );
}

@each $value in visible, hidden {
  $classMap: map-merge(
    $classMap,
    (
      $value: (
        display: $value
      )
    )
  );
}

$classMap: map-merge(
  $classMap,
  (
    "visually-hidden": (
      border: 0,
      clip: rect(0 0 0 0),
      height: 1px,
      margin: -1px,
      overflow: hidden,
      padding: 0,
      position: absolute,
      width: 1px
    )
  )
);

@each $value in auto, hidden, visible, scroll {
  $classMap: map-merge(
    $classMap,
    (
      "overflow-#{$value}": (
        overflow: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "overflow-x-#{$value}": (
        overflow: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "overflow-y-#{$value}": (
        overflow: $value
      )
    )
  );
}
