/**
 * NOTE: Display is defined in Display.scss
 * NOTE: Algin and Justify are defined in Flex.scss
 */

$classMap: map-merge(
  $classMap,
  (
    columns-auto: (
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    )
  )
);
@for $i from 1 through $gridMax {
  $classMap: map-merge(
    $classMap,
    (
      columns-#{$i}:
        (
          grid-template-columns: repeat($i, minmax(0, 1fr))
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      rows-#{$i}:
        (
          grid-template-rows: repeat($i, 1fr)
        )
    )
  );
}

$classMap: map-merge(
  $classMap,
  (
    gap-0: (
      grid-column-gap: 0,
      grid-row-gap: 0
    )
  )
);
$classMap: map-merge(
  $classMap,
  (
    column-gap-0: (
      grid-column-gap: 0
    )
  )
);
$classMap: map-merge(
  $classMap,
  (
    row-gap-0: (
      grid-row-gap: 0
    )
  )
);
@for $i from 1 through length($gaps) {
  $value: nth($gaps, $i) / $remBase * 1rem;
  $classMap: map-merge(
    $classMap,
    (
      gap-#{$i}:
        (
          grid-column-gap: $value,
          grid-row-gap: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      column-gap-#{$i}:
        (
          grid-column-gap: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      row-gap-#{$i}:
        (
          grid-row-gap: $value
        )
    )
  );
}

$classMap: map-merge(
  $classMap,
  (
    column-span-full: (
      grid-column: 1/-1
    )
  )
);
$classMap: map-merge(
  $classMap,
  (
    row-span-full: (
      grid-row: 1/-1
    )
  )
);
@for $i from 1 through $gridMax {
  $classMap: map-merge(
    $classMap,
    (
      column-span-#{$i}:
        (
          grid-column: span #{$i}
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      row-span-#{$i}:
        (
          grid-row: span #{$i}
        )
    )
  );
}
