html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @extend .m-0;
  height: 100%;
}

h1 {
  @extend .my-0;
}

h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
dl,
table,
figure,
pre {
  @extend .my-0;

  & + & {
    @extend .mt-4;
  }
}

ul[class],
ol[class] {
  @extend .pl-0;
  list-style-type: none;
}

button {
  font: inherit;
  @extend .border-0, .p-0, .bg-transparent;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

img,
figure,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}
