html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @extend .m-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
dl,
table,
figure,
pre {
  @extend .my-0;

  & + & {
    @extend .mt-4;
  }
}

ul[class],
ol[class] {
  @extend .pl-0;
  list-style-type: none;
}

button {
  font: inherit;
}
