@for $i from 1 through length($lineHeights) {
  $value: nth($lineHeights, $i);
  $classMap: map-merge(
    $classMap,
    (
      "line-h-#{$i}": (
        line-height: $value
      )
    )
  );
}

@for $i from 1 through length($letterSpacers) {
  $value: nth($letterSpacers, $i);
  $classMap: map-merge(
    $classMap,
    (
      "spacing-#{$i}": (
        letter-spacing: $value
      )
    )
  );
}
