@mixin withVariants($class) {
  .#{$class} {
    @content;
  }

  @for $i from 1 through length($pseudos) {
    $item: nth($pseudos, $i);

    $prefix: $item;
    $suffix: $item;

    @if type-of($item) == list {
      @if length($item) > 1 {
        $prefix: nth($item, 1);
        $suffix: nth($item, 2);
      }
    }

    .#{$prefix}\:#{$class}:#{$suffix} {
      @content;
    }
  }

  @for $i from 1 through length($breakpoints) {
    $value: nth($breakpoints, $i);

    $prefix: bp#{$i};
    $bp: $value;

    @if type-of($value) == list {
      @if length($value) > 1 {
        $prefix: nth($value, 2);
        $bp: nth($value, 1);
      }
    }

    @media (min-width: $bp) {
      .#{$prefix}\:#{$class} {
        @content;
      }
    }

    @for $i from 1 through length($pseudos) {
      $item: nth($pseudos, $i);

      $prefix2: $item;
      $suffix: $item;

      @if type-of($item) == list {
        @if length($item) > 1 {
          $prefix2: nth($item, 1);
          $suffix: nth($item, 2);
        }
      }

      @media (min-width: $bp) {
        .#{$prefix}\:#{$prefix2}\:#{$class}:#{$suffix} {
          @content;
        }
      }
    }
  }
}
