@each $value in auto, hidden, scroll, visible {
  $classMap: map-merge(
    $classMap,
    (
      "overflow-#{$value}": (
        overflow: $value
      ),
      "overflow-x-#{$value}": (
        overflow-x: $value
      ),
      "overflow-y-#{$value}": (
        overflow-y: $value
      )
    )
  );
}
