@each $name, $value in (0, 0), (auto, auto), (full, 100%), (screen, 100vw) {
  $classMap: map-merge(
    $classMap,
    (
      "w-#{$name}": (
        width: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "min-w-#{$name}": (
        min-width: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "max-w-#{$name}": (
        max-width: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "h-#{$name}": (
        height: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "min-h-#{$name}": (
        min-height: $value
      )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      "max-h-#{$name}": (
        max-height: $value
      )
    )
  );
}
@for $denominator from 2 through 12 {
  @for $i from 1 through length($sizes) {
    $value: nth($sizes, $i) / $remBase * 1rem;
    $classMap: map-merge(
      $classMap,
      (
        "w-#{$i}": (
          width: $value
        )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        "min-w-#{$i}": (
          min-width: $value
        )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        "max-w-#{$i}": (
          max-width: $value
        )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        "h-#{$i}": (
          height: $value
        )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        "min-h-#{$i}": (
          min-height: $value
        )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        "max-h-#{$i}": (
          max-height: $value
        )
      )
    );
  }

  @for $numerator from 1 through ($denominator - 1) {
    $classMap: map-merge(
      $classMap,
      (
        w-#{$numerator}\/#{$denominator}:
          (
            width: $numerator / $denominator * 100%
          )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        min-w-#{$numerator}\/#{$denominator}:
          (
            min-width: $numerator / $denominator * 100%
          )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        max-w-#{$numerator}\/#{$denominator}:
          (
            max-width: $numerator / $denominator * 100%
          )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        h-#{$numerator}\/#{$denominator}:
          (
            height: $numerator / $denominator * 100%
          )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        min-h-#{$numerator}\/#{$denominator}:
          (
            min-height: $numerator / $denominator * 100%
          )
      )
    );
    $classMap: map-merge(
      $classMap,
      (
        max-h-#{$numerator}\/#{$denominator}:
          (
            max-height: $numerator / $denominator * 100%
          )
      )
    );
  }
}
