@each $name, $value in (0, 0), (auto, auto), (full, 100%), (screen, 100vw) {
  $classMap: map-merge(
    $classMap,
    (
      "w-#{$name}": (
        width: $value
      ),
      "min-w-#{$name}": (
        min-width: $value
      ),
      "max-w-#{$name}": (
        max-width: $value
      ),
      "h-#{$name}": (
        height: $value
      ),
      "min-h-#{$name}": (
        min-height: $value
      ),
      "max-h-#{$name}": (
        max-height: $value
      )
    )
  );
}

@for $i from 1 through length($sizes) {
  $value: nth($sizes, $i) / $remBase * 1rem;
  $classMap: map-merge(
    $classMap,
    (
      "w-#{$i}": (
        width: $value
      ),
      "min-w-#{$i}": (
        min-width: $value
      ),
      "max-w-#{$i}": (
        max-width: $value
      ),
      "h-#{$i}": (
        height: $value
      ),
      "min-h-#{$i}": (
        min-height: $value
      ),
      "max-h-#{$i}": (
        max-height: $value
      )
    )
  );
}
@for $denominator from 2 through 12 {
  @for $numerator from 1 through ($denominator - 1) {
    $classMap: map-merge(
      $classMap,
      (
        w-#{$numerator}\/#{$denominator}:
          (
            width: $numerator / $denominator * 100%
          ),
        min-w-#{$numerator}\/#{$denominator}:
          (
            min-width: $numerator / $denominator * 100%
          ),
        max-w-#{$numerator}\/#{$denominator}:
          (
            max-width: $numerator / $denominator * 100%
          ),
        h-#{$numerator}\/#{$denominator}:
          (
            height: $numerator / $denominator * 100%
          ),
        min-h-#{$numerator}\/#{$denominator}:
          (
            min-height: $numerator / $denominator * 100%
          ),
        max-h-#{$numerator}\/#{$denominator}:
          (
            max-height: $numerator / $denominator * 100%
          )
      )
    );
  }
}
