@each $value in 0, auto {
  .mt-#{$value},
  .my-#{$value},
  .m-#{$value} {
    margin-top: $value;
  }

  .mb-#{$value},
  .my-#{$value},
  .m-#{$value} {
    margin-bottom: $value;
  }

  .ml-#{$value},
  .mx-#{$value},
  .m-#{$value} {
    margin-left: $value;
  }

  .mr-#{$value},
  .mx-#{$value},
  .m-#{$value} {
    margin-right: $value;
  }

  .pt-#{$value},
  .py-#{$value},
  .p-#{$value} {
    padding-top: $value;
  }

  .pb-#{$value},
  .py-#{$value},
  .p-#{$value} {
    padding-bottom: $value;
  }

  .pl-#{$value},
  .px-#{$value},
  .p-#{$value} {
    padding-left: $value;
  }

  .pr-#{$value},
  .px-#{$value},
  .p-#{$value} {
    padding-right: $value;
  }
}

@for $i from 1 through length($spacers) {
  $value: nth($spacers, $i);
  .mt-#{$i},
  .my-#{$i},
  .m-#{$i} {
    margin-top: $value;
  }

  .mb-#{$i},
  .my-#{$i},
  .m-#{$i} {
    margin-bottom: $value;
  }

  .ml-#{$i},
  .mx-#{$i},
  .m-#{$i} {
    margin-left: $value;
  }

  .mr-#{$i},
  .mx-#{$i},
  .m-#{$i} {
    margin-right: $value;
  }

  .pt-#{$i},
  .py-#{$i},
  .p-#{$i} {
    padding-top: $value;
  }

  .pb-#{$i},
  .py-#{$i},
  .p-#{$i} {
    padding-bottom: $value;
  }

  .pl-#{$i},
  .px-#{$i},
  .p-#{$i} {
    padding-left: $value;
  }

  .pr-#{$i},
  .px-#{$i},
  .p-#{$i} {
    padding-right: $value;
  }
}
