@each $value in 0, auto {
  $classMap: map-merge(
    $classMap,
    (
      m-#{$value}:
        (
          margin: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      my-#{$value}:
        (
          margin-top: $value,
          margin-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mx-#{$value}:
        (
          margin-left: $value,
          margin-right: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mt-#{$value}:
        (
          margin-top: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mb-#{$value}:
        (
          margin-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      ml-#{$value}:
        (
          margin-left: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mr-#{$value}:
        (
          margin-right: $value
        )
    )
  );

  $classMap: map-merge(
    $classMap,
    (
      p-#{$value}:
        (
          padding: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      py-#{$value}:
        (
          padding-top: $value,
          padding-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      px-#{$value}:
        (
          padding-left: $value,
          padding-right: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pt-#{$value}:
        (
          padding-top: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pb-#{$value}:
        (
          padding-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pl-#{$value}:
        (
          padding-left: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pr-#{$value}:
        (
          padding-right: $value
        )
    )
  );
}

@for $i from 1 through length($spacers) {
  $value: nth($spacers, $i) / $remBase * 1rem;

  $classMap: map-merge(
    $classMap,
    (
      m-#{$i}:
        (
          margin: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      my-#{$i}:
        (
          margin-top: $value,
          margin-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mx-#{$i}:
        (
          margin-left: $value,
          margin-right: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mt-#{$i}:
        (
          margin-top: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mb-#{$i}:
        (
          margin-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      ml-#{$i}:
        (
          margin-left: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      mr-#{$i}:
        (
          margin-right: $value
        )
    )
  );

  $classMap: map-merge(
    $classMap,
    (
      p-#{$i}:
        (
          padding: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      py-#{$i}:
        (
          padding-top: $value,
          padding-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      px-#{$i}:
        (
          padding-left: $value,
          padding-right: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pt-#{$i}:
        (
          padding-top: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pb-#{$i}:
        (
          padding-bottom: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pl-#{$i}:
        (
          padding-left: $value
        )
    )
  );
  $classMap: map-merge(
    $classMap,
    (
      pr-#{$i}:
        (
          padding-right: $value
        )
    )
  );
}
