$spacers: 4, 8, 12, 16, 20, 24, 32, 40, 48, 64, 80, 96, 128, 256, 512 !default;

@each $value in 0, auto {
  $classMap: map-merge(
    $classMap,
    (
      m-#{$value}:
        (
          margin: $value
        ),
      my-#{$value}:
        (
          margin-top: $value,
          margin-bottom: $value
        ),
      mx-#{$value}:
        (
          margin-left: $value,
          margin-right: $value
        ),
      mt-#{$value}:
        (
          margin-top: $value
        ),
      mb-#{$value}:
        (
          margin-bottom: $value
        ),
      ml-#{$value}:
        (
          margin-left: $value
        ),
      mr-#{$value}:
        (
          margin-right: $value
        ),
      p-#{$value}:
        (
          padding: $value
        ),
      py-#{$value}:
        (
          padding-top: $value,
          padding-bottom: $value
        ),
      px-#{$value}:
        (
          padding-left: $value,
          padding-right: $value
        ),
      pt-#{$value}:
        (
          padding-top: $value
        ),
      pb-#{$value}:
        (
          padding-bottom: $value
        ),
      pl-#{$value}:
        (
          padding-left: $value
        ),
      pr-#{$value}:
        (
          padding-right: $value
        )
    )
  );
}

@for $i from 1 through length($spacers) {
  $value: nth($spacers, $i) / $remBase * 1rem;

  $classMap: map-merge(
    $classMap,
    (
      m-#{$i}:
        (
          margin: $value
        ),
      my-#{$i}:
        (
          margin-top: $value,
          margin-bottom: $value
        ),
      mx-#{$i}:
        (
          margin-left: $value,
          margin-right: $value
        ),
      mt-#{$i}:
        (
          margin-top: $value
        ),
      mb-#{$i}:
        (
          margin-bottom: $value
        ),
      ml-#{$i}:
        (
          margin-left: $value
        ),
      mr-#{$i}:
        (
          margin-right: $value
        ),
      p-#{$i}:
        (
          padding: $value
        ),
      py-#{$i}:
        (
          padding-top: $value,
          padding-bottom: $value
        ),
      px-#{$i}:
        (
          padding-left: $value,
          padding-right: $value
        ),
      pt-#{$i}:
        (
          padding-top: $value
        ),
      pb-#{$i}:
        (
          padding-bottom: $value
        ),
      pl-#{$i}:
        (
          padding-left: $value
        ),
      pr-#{$i}:
        (
          padding-right: $value
        )
    )
  );
}
