.normal-case {
  text-transform: none;
}
@each $value in uppercase, lowercase, capitalize {
  .#{$value} {
    text-transform: $value;
  }
}

.no-line {
  text-decoration: none;
}
@each $value in underline, overline, line-through {
  .#{$value} {
    text-decoration: $value;
  }
}

@each $value in center, left, right, justify {
  .text-#{$value} {
    text-align: $value;
  }
}
