$classMap: map-merge(
  $classMap,
  (
    "normal-case": (
      text-transform: none
    )
  )
);
@each $value in uppercase, lowercase, capitalize {
  $classMap: map-merge(
    $classMap,
    (
      "#{$value}": (
        text-transform: $value
      )
    )
  );
}

$classMap: map-merge(
  $classMap,
  (
    "no-line": (
      text-decoration: none
    )
  )
);
@each $value in underline, overline, line-through {
  $classMap: map-merge(
    $classMap,
    (
      "#{$value}": (
        text-decoration: $value
      )
    )
  );
}

@each $value in center, left, right, justify {
  $classMap: map-merge(
    $classMap,
    (
      "text-#{$value}": (
        text-align: $value
      )
    )
  );
}

$lineHeights: 1, 1.25, 1.375, 1.5, 1.625, 2;
$letterSpacers: -0.05em, -0.025em, 0, 0.025em, 0.05em, 0.1em;

@for $i from 1 through length($lineHeights) {
  $value: nth($lineHeights, $i);
  $classMap: map-merge(
    $classMap,
    (
      "line-h-#{$i}": (
        line-height: $value
      )
    )
  );
}

@for $i from 1 through length($letterSpacers) {
  $value: nth($letterSpacers, $i);
  $classMap: map-merge(
    $classMap,
    (
      "spacing-#{$i}": (
        letter-spacing: $value
      )
    )
  );
}
