@each $key, $value in (sans, $fontSans), (serif, $fontSerif), (mono, $fontMono) {
  $classMap: map-merge(
    $classMap,
    (
      "font-#{$key}": (
        font-family: $value
      )
    )
  );
}

@for $i from 1 through length($fontSizes) {
  $value: nth($fontSizes, $i) / $remBase * 1rem;
  $classMap: map-merge(
    $classMap,
    (
      "size-#{$i}": (
        font-size: $value
      )
    )
  );
}

@for $i from 1 through 9 {
  $value: $i * 100;
  $classMap: map-merge(
    $classMap,
    (
      "weight-#{$i}": (
        font-weight: $value
      )
    )
  );
}
