$fontSans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$fontSerif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$fontMono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$fonts: $fontSans, $fontSerif, $fontMono !default;
$fontSizes: 12, 16, 20, 24, 32, 40, 48, 64, 96, 128 !default;

@each $key, $value in (sans, $fontSans), (serif, $fontSerif), (mono, $fontMono) {
  $classMap: map-merge(
    $classMap,
    (
      "font-#{$key}": (
        font-family: $value
      )
    )
  );
}

@for $i from 1 through length($fonts) {
  $value: nth($fonts, $i);
  $classMap: map-merge(
    $classMap,
    (
      "font-#{$i}": (
        font-family: $value
      )
    )
  );
}

@for $i from 1 through length($fontSizes) {
  $value: nth($fontSizes, $i) / $remBase * 1rem;
  $classMap: map-merge(
    $classMap,
    (
      "size-#{$i}": (
        font-size: $value
      )
    )
  );
}

@for $i from 1 through 9 {
  $value: $i * 100;
  $classMap: map-merge(
    $classMap,
    (
      "weight-#{$i}": (
        font-weight: $value
      )
    )
  );
}
