@each $class, $rules in $classMap {
  .#{$class} {
    @each $property, $value in $rules {
      #{$property}: $value;
    }
  }
}

// Pseudos
@for $i from 1 through length($pseudos) {
  $item: nth($pseudos, $i);

  $prefix: $item;
  $suffix: $item;

  @if type-of($item) == list {
    $prefix: nth($item, 1);
    $suffix: nth($item, 1);

    @if length($item) > 1 {
      $suffix: nth($item, 2);
    }
  }

  @each $class, $rules in $classMap {
    .#{$prefix}\:#{$class}:#{$suffix} {
      @each $property, $value in $rules {
        #{$property}: $value;
      }
    }
  }
}

// Breakpoints
@for $i from 1 through length($breakpoints) {
  $item: nth($breakpoints, $i) / $remBase * 1rem;

  $prefix: bp#{$i};
  $bp: $item;

  @if type-of($item) == list {
    @if length($item) > 1 {
      $prefix: nth($item, 2);
      $bp: nth($item, 1);
    }
  }

  @media (min-width: $bp) {
    @each $class, $rules in $classMap {
      .#{$prefix}\:#{$class} {
        @each $property, $value in $rules {
          #{$property}: $value;
        }
      }
    }
  }
}
