$remBase: 16;

$breakpoints: 640, 768, 1024, 1280 !default;

$pseudos: hover, focus, (within, focus-within), active, visited, disabled, (first, first-child),
  (last, last-child), (even, nth-child(even)), (odd, nth-child(odd)), empty, invalid, required !default;

$maxColumns: 12 !default;

$white: #fff !default;
$black: #000 !default;
$colors: ("gray", 0), ("red", 0), ("orange", 25), ("yellow", 55), ("green", 110), ("cyan", 170),
  ("blue", 210), ("purple", 270), ("pink", 320) !default;
$saturation: 70% !default;

// NONE Editable
$classMap: ();
$customProps: ();

@for $i from 1 through length($breakpoints) {
  $value: nth($breakpoints, $i) / $remBase * 1rem;

  $customProps: map-merge(
    $customProps,
    (
      "bp#{$i}": $value,
    )
  );
}
