$widths: 40rem, 48rem, 64rem, 80rem !default;

$breakpoints: $widths !default;

$pseudos: hover, focus, (within, focus-within), active, visited, disabled, (first, first-child),
  (last, last-child), (even, nth-child(even)), (odd, nth-child(odd)) !default;

$white: #fff !default;
$black: #000 !default;
$colors: ("gray", 0), ("red", 0), ("orange", 25), ("yellow", 55), ("green", 110), ("cyan", 170),
  ("blue", 210), ("purple", 270), ("pink", 320) !default;
$saturation: 70% !default;

$gridMax: 12 !default;
$gaps: 0.25rem, 0.5rem, 1rem, 1.5rem, 2rem, 3rem, 4rem, 6rem !default;

$spacers: 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 2rem, 2.5rem, 3rem, 4rem, 5rem, 6rem !default;

$borderWidths: 1px, 2px, 0.25rem, 0.5rem !default;
$radii: 0.25rem, 0.5rem, 0.75rem, 1rem !default;

$fontSans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$fontSerif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$fontMono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$fontSizes: 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem, 2.5rem, 3rem, 4rem, 6rem !default;
$lineHeights: 1, 1.25, 1.375, 1.5, 1.625, 2;
$letterSpacers: -0.05em, -0.025em, 0, 0.025em, 0.05em, 0.1em;

// NONE Editable
$classMap: ();
$customProps: ();
